html
  head
    title practice with user datagram protocol
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="quotes.js")
  body
    h1 Practice sending UDP messages-
      span(class="connected", style="font-size:18px; font-weight:normal;")
    h3(class="messages")